.home_header {
  background-color: rgb(15, 95, 119);
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.home_header_navbar {
  display: flex;
  gap: 30px;
}

.home_header_navbar_item {
  list-style: none;
  color: blue;
}

.home_header_navbar_item:hover, a:hover {
  scale: 3;
  color: rgb(32, 65, 5);
  transition: all 0.4s ease-in-out;
}